* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FCD469;
}

h2 {
    padding-bottom: 30px;
}

.box-model {
    text-align: center;
    margin: 10% auto;
    font-family: 'verdana';
    font-weight: bold;
    color: #fff;
    font-size: 25px;
}

input {
    cursor: pointer;
}

input[type="submit"] {
    width: 120px;
    padding: 5px 10px;
    border: none;
    background: black;
    color: white;
    font-family: 'verdana';
    font-weight: bold;

}